body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 238, 232);
    margin:auto;
    background: linear-gradient(to bottom,  rgb(200, 212, 199), #d0d0d0) no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-bottom: 183px;
}

footer {
    text-align: -webkit-center;
    margin-top: 31px;
    margin-bottom: 20px;
 }

 .gameCanvas {
        border: 1px solid black;
     }



   

